@using BankingSystemMVC.Models.ViewModels.Accounts
@model CreateAccountViewModel

<h2>Create Account</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Account Name</label>
        <input asp-for="AccountName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Account Type</label>
        <select asp-for="AccountType" class="form-select">
            <option value="1">Checking</option>
            <option value="2">Savings</option>
        </select>
    </div>

    <button class="btn btn-primary">Create</button>
</form>
