@model BankingSystemMVC.Models.Customers.CustomerMeViewModel

<h2>My Profile</h2>

<p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>KYC Verified:</strong> @Model.IsKYCVerified</p>
