@model BankingSystemMVC.Models.Auth.RegisterViewModel

<h2>Register</h2>

<form asp-action="Register" method="post">
    <div>
        <label>First Name</label><br />
        <input asp-for="FirstName" />
    </div>

    <div>
        <label>Last Name</label><br />
        <input asp-for="LastName" />
    </div>

    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
    </div>

    <div>
        <label>Password</label><br />
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <label>Confirm Password</label><br />
        <input asp-for="ConfirmPassword" type="password" />
    </div>

    <div>
        <label>Phone Number</label><br />
        <input asp-for="PhoneNumber" />
    </div>

    <div>
        <label>Date of Birth</label><br />
        <input asp-for="DateOfBirth" type="date" />
    </div>

    <div>
        <label>Address</label><br />
        <input asp-for="Address" />
    </div>



    <button type="submit">Register</button>
</form>

<div asp-validation-summary="All"></div>
